<div class="container">
  <app-header></app-header>

  <form *ngIf="conductorForm"
  [formGroup]="conductorForm"
  (ngSubmit)="onSubmit()"
  [class.disabled]="loading"
  class="form-container shadow rounded bg-white"
  novalidate>

    <h3>{{ isEditing ? 'Editar' : 'Nuevo' }} Conductor</h3>

    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <div class="mb-3">
      <label for="dni" class="form-label">DNI</label>
      <div class="d-flex gap-2">
        <input
          type="text"
          id="dni"
          placeholder="Buscar DNI..."
          formControlName="dni"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['dni'].errors }"
        />
        <button
          type="button"
          class="btn btn-primary"
          (click)="buscarDni()"
          style="white-space: nowrap"
        >
          Buscar
        </button>
      </div>
      <div *ngIf="submitted && f['dni'].errors" class="invalid-feedback d-block">
        <div *ngIf="f['dni'].errors['required']">DNI es requerido</div>
      </div>
      <div *ngIf="submitted && f['dni'].errors?.['dniDuplicado']" class="invalid-feedback d-block">
        Ya existe un conductor con este dni.
      </div>
    </div>   

    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" id="nombre" formControlName="nombre" class="form-control"
             [ngClass]="{'is-invalid': submitted && f['nombre'].errors}" readonly>
      <div *ngIf="submitted && f['nombre'].errors" class="invalid-feedback">
        <div *ngIf="f['nombre'].errors['required']">Nombre es requerido</div>
      </div>
      <div *ngIf="submitted && f['nombre'].errors?.['nombreDuplicado']" class="invalid-feedback">
        Ya existe un conductor con este nombre.
      </div>
    </div>

    <div class="mb-3">
      <label for="telefono" class="form-label">Teléfono</label>
      <input
        type="text"
        id="telefono"
        formControlName="telefono"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['telefono'].errors }"
      />
      <div *ngIf="submitted && f['telefono'].errors" class="invalid-feedback d-block">
        <div *ngIf="f['telefono'].errors['required']">Teléfono es requerido</div>
        <div *ngIf="f['telefono'].errors['pattern']">Teléfono inválido (solo 9 caracteres)</div>
      </div>
    </div>
    

    <div class="mb-3">
      <label for="placa" class="form-label">Placa</label>
      <div class="d-flex gap-2">
        <input
          type="text"
          id="placa"
          placeholder="Buscar placa..."
          formControlName="placa"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['placa'].errors }"
        />
        <button
          type="button"
          class="btn btn-primary"
          (click)="buscarPlaca()"
          style="white-space: nowrap"
        >
          Buscar
        </button>
      </div>
      <div *ngIf="submitted && f['placa'].errors" class="invalid-feedback d-block">
        <div *ngIf="f['placa'].errors['required']">Placa es requerida</div>
      </div>
      <div *ngIf="submitted && f['placa'].errors?.['placaDuplicada']" class="invalid-feedback d-block">
        Ya existe un conductor con esta placa.
      </div>
    </div>
    
    

    <div class="mb-3">
      <label for="modelo_vehiculo" class="form-label">Modelo del Vehículo</label>
      <input type="text" id="modelo_vehiculo" formControlName="modelo_vehiculo" class="form-control"
             [ngClass]="{'is-invalid': submitted && f['modelo_vehiculo'].errors}" readonly>
      <div *ngIf="submitted && f['modelo_vehiculo'].errors" class="invalid-feedback">
        <div *ngIf="f['modelo_vehiculo'].errors['required']">Modelo del vehículo es requerido</div>
      </div>
    </div>

    
    <div class="form-buttons">
      <button type="submit" class="btn btn-success">
        {{ isEditing ? 'Actualizar' : 'Crear' }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="volver()" [disabled]="loading">
        Cancelar
      </button>
    </div>

  </form>
</div>
