<div class="container" *ngIf="reserva as r">
  <app-header></app-header>
  <div class="reserva-container my-4 align-items-center">
    <div class="p-4">
      <div class="row g-4">

        <div class="col-md-2 text-center">
          <i 
            [ngClass]="{
              'bi bi-check-circle-fill text-success': r.estado_reserva === 'Completada',
              'bi bi-hourglass-split text-warning': r.estado_reserva === 'Pendiente',
              'bi bi-x-circle-fill text-danger': r.estado_reserva === 'Cancelado',
              'bi bi-receipt text-success': r.estado_reserva === 'Pagada',
              'bi bi-door-open text-primary': r.estado_reserva === 'Check-in'
            }"
            style="font-size: 4rem;">
          </i>
          <div class="mt-2 text-muted">{{ r.estado_reserva }}</div>
        </div>

        <div class="detalle col-md-4 border-end">
          <h2 class="mb-3 text-primary">Reserva #{{ r.id_reserva }}</h2>
          <p><strong>Cliente:</strong> {{ r.cliente.nombre }}</p>
          <p><strong>Fecha Inicio:</strong> {{ r.fecha_inicio | date:'short' }}</p>
          <p><strong>Fecha Fin:</strong> {{ r.fecha_fin | date:'short' }}</p>
          <p><strong>Tipo:</strong> {{ r.tipo }}</p>
          <p><strong>Comentarios:</strong> {{ r.comentarios }}</p>
        </div>

        <div class="right col-md-6">
          <h3 class="mb-3">Habitaciones Reservadas</h3>

          <div *ngIf="habitacionesReserva.length > 0; else noHabitaciones">
            <div *ngFor="let hr of habitacionesReserva" class="mb-3 border p-2 rounded">
              <div>
                <strong>Habitación #{{ hr.habitacion.numero }}</strong> - 
                {{ hr.habitacion.tipo_habitacion.nombre }} 
                (Piso: {{ hr.habitacion.piso.numero }})
              </div>
          
              <div *ngIf="hr.huespedes.length > 0; else sinHuespedes" class="mt-2">
                <p>Huespedes</p>
                <ul class="list-group list-group-flush">
                  <li *ngFor="let h of hr.huespedes" class="list-group-item">
                    {{ h.cliente.nombre }} ({{ h.cliente.dniRuc }})
                  </li>
                </ul>
              </div>
              <ng-template #sinHuespedes>
                <span class="text-muted">Sin huéspedes asignados</span>
              </ng-template>
            </div>
          </div>
          
          <ng-template #noHabitaciones>
            <p>No hay habitaciones asociadas a esta reserva.</p>
          </ng-template>
          

          <div class="text-end mt-4">
            <a routerLink="/admin/reservas" class="btn btn-secondary">Volver</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
