      <div class="container">
        <app-header></app-header>

        <div class="contenido">
          <h2>Registrar nuevo trabajador</h2>

          <form (ngSubmit)="formSubmit()">
            <div class="form">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input
                  [(ngModel)]="user.nombre"
                  name="nombre"
                  required
                  matInput
                  placeholder="Digite su nombre"
                />
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Apellido</mat-label>
                <input
                  [(ngModel)]="user.apellidos"
                  name="apellido"
                  required
                  matInput
                  placeholder="Digite sus apellidos"
                />
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nombre de usuario</mat-label>
                <input
                  required
                  matInput
                  [(ngModel)]="user.username"
                  name="username"
                  placeholder="Digite su usuario"
                />
                <mat-hint>El nombre de usuario debe ser único</mat-hint>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  required
                  [(ngModel)]="user.password"
                  name="password"
                  type="password"
                  placeholder="Contraseña"
                />
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  [(ngModel)]="user.email"
                  name="email"
                  type="email"
                  required
                  matInput
                  placeholder="Digite su correo"
                />
              </mat-form-field>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Telefono</mat-label>
                <input
                  [(ngModel)]="user.telefono"
                  name="telefono"
                  matInput
                  required
                  placeholder="Digite su teléfono"
                />
              </mat-form-field>

              <!-- Campo select para seleccionar el rol -->
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Rol</mat-label>
                <mat-select name="rol" [(ngModel)]="rolSeleccionado" required>
                  <mat-option *ngFor="let rol of roles" [value]="rol.idRol">
                    {{ rol.nombreRol }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <div class="form-image-upload">
              <img
                [src]="imagenPrevia || 'assets/imagenes/usuario-default.png'"
                alt="Foto del trabajador"
              />
              <input type="file" (change)="onFileSelected($event)" />
            </div>
            </div>
            <h3>Permisos del trabajador en el menú</h3>

            <div class="modulos-lista">
              <div class="modulo-card" *ngFor="let modulo of modulos">
                <div class="modulo-header">
                  <mat-checkbox [(ngModel)]="modulo.seleccionado" name="modulo_{{modulo.nombre}}" (change)="onModuloChange(modulo)" >
                    {{ modulo.nombre }}
                  </mat-checkbox>
                </div>
                <div class="submodulo-lista" style="margin-left: 20px;">
                  <mat-checkbox *ngFor="let sub of modulo.submodulos" (change)="onSubmoduloChange(modulo)" [(ngModel)]="sub.seleccionado" name="sub_{{modulo.nombre}}_{{sub.nombre}}" >
                    {{ sub.nombre }}
                  </mat-checkbox>
                </div>
              </div>
            </div>

            <div class="form-actions">
              <button mat-raised-button color="primary" class="btn-primary">
                Registrar
              </button>
              <button
                mat-raised-button
                color="accent"
                type="reset"
                style="margin-left: 20px"
              >
                Limpiar
              </button>
            </div>
          </form>


        </div>
      </div>
