<form [formGroup]="habitacionForm" (ngSubmit)="onSubmit()" novalidate class="form-container shadow rounded bg-white">
  
  <h3>Nueva Habitación</h3>
      
  <div class="mb-3">
    <label for="piso" class="form-label">Piso</label>
    <select id="piso" formControlName="piso" class="form-select"
            [ngClass]="{'is-invalid': submitted && f['piso'].invalid}">
      <option *ngIf="!isEditing" [ngValue]="null">Seleccione un piso</option>
      <option *ngFor="let piso of pisos" [ngValue]="piso">
        {{ piso }}
      </option>
    </select>
    <div *ngIf="submitted && f['piso'].invalid" class="invalid-feedback">
      Piso es requerido.
    </div>
  </div>

  <div class="mb-3">
    <label for="numero" class="form-label">Número de Habitación</label>
    <input type="number" id="numero" formControlName="numero" class="form-control"
           [ngClass]="{'is-invalid': submitted && f['numero'].invalid}">
    <div *ngIf="submitted && f['numero'].invalid" class="invalid-feedback">
      Número de habitación es requerido.
    </div>
    <div *ngIf="submitted && f['numero'].errors?.['numeroDuplicado']" class="invalid-feedback">
      Ya existe una habitación con este número.
    </div>
  </div>

  <div class="mb-3">
    <label for="tipo_habitacion" class="form-label">Tipo de Habitación</label>
    <select id="tipo_habitacion" formControlName="tipo_habitacion" class="form-select"
            [ngClass]="{'is-invalid': submitted && f['tipo_habitacion'].invalid}">
      <option *ngIf="!isEditing" [ngValue]="null">Seleccione un tipo</option>
      <option *ngFor="let tipo of tiposHabitacion" [ngValue]="tipo">
        {{ tipo.nombre }} - Precio Público: {{ tipo.precio_publico }} - Precio Corporativo: {{ tipo.precio_corporativo }}
      </option>
    </select>
    <div *ngIf="submitted && f['tipo_habitacion'].invalid" class="invalid-feedback">
      Tipo de habitación es requerido.
    </div>
  </div>

  <div class="form-buttons">
    <button type="submit" class="btn btn-success">
      {{ isEditing ? 'Actualizar' : 'Crear' }}
    </button>
    <button type="button" class="btn btn-secondary" (click)="volver()">Cancelar</button>
    <button *ngIf="isEditing" type="button" class="btn btn-info" (click)="editarTipoHabitacion()">
      Editar Tipo de Habitación
    </button>
  </div>

</form>
