<div class="container">
  <app-header></app-header>

  <div class="card">
    <div class="info-categorias-linea">
      <h5>Roles registrados</h5>
      <!-- Buscador personalizado sin Angular Material -->
      <div class="mover">
        <div class="buscador">
          <div class="input-wrapper">
            <input type="text" id="searchInput" placeholder="Buscador rol" [(ngModel)]="filtroBusqueda"
              (ngModelChange)="buscarRoles()" />
            <button type="button" class="btn-icono">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>

        <button class="btn-agregar">
          <a routerLink="/admin/add-rol">+ Rol</a>
        </button>
      </div>
    </div>

    <table class="tabla-categorias">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rol of rolesFiltrados">
          <td>{{ rol.nombreRol }}</td>
          <td>{{ rol.descripcion }}</td>
          <td>
            {{ rol.estado ? 'Activo' : 'Desactivo' }}
          </td>
          <td class="acciones">
            <button class="btn-accion editar">
              <a [routerLink]="['/admin/edit-rol', rol.id]">
                <mat-icon class="edit" color="primary">edit</mat-icon>
              </a>
            </button>
            <!-- Nuevo botón para asignar servicios -->
            <button class="btn-accion asignar-servicios" (click)="asignarServicios(rol)">
              <mat-icon class="assign" color="accent">assignment</mat-icon>
            </button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
