<div class="container">
  <app-header></app-header>

  <div class="contenido">
    <mat-card class="custom-card">
      <mat-card-content>
        <!-- Encabezado -->
        <div class="header-row">
          <h5 class="mat-subheading-2">
            <b>{{ roles.length }}</b> Roles registrados
          </h5>
          <button mat-raised-button color="primary" routerLink="/admin/add-rol">
            Agregar rol
          </button>
        </div>

        <!-- Tabla de roles -->
        <div class="table-container mat-elevation-z4">
          <table class="styled-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Editar</th>
                <th>Permisos</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trabajador of roles">
                <td>{{ trabajador.idRol }}</td>
                <td>{{ trabajador.nombreRol }}</td>
                <td>{{ trabajador.descripcion }}</td>

                <td>
                  <mat-slide-toggle [checked]="trabajador.estado">
                  </mat-slide-toggle>
                </td>
                <td>
                  <button
                    mat-icon-button
                    color="accent"
                    [routerLink]="'/admin/rol/' + trabajador.idRol"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-icon-button color="primary">
                    <mat-icon>lock</mat-icon>
                  </button>
                </td>
                <td>
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="eliminarRol(trabajador)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
