<div class="container">
    <app-header></app-header>
  
    <div class="card">
      <div class="info-proveedores-linea">
        <h5>Proveedores registrados</h5>
        <!-- Buscador personalizado sin Angular Material -->
        <div class="mover">
          <div class="buscador">
            <div class="input-wrapper">
              <input
                type="text"
                id="searchInput"
                placeholder="Buscador proveedor"
                [(ngModel)]="filtroBusqueda" (ngModelChange)="buscarTrabajadores()"
              />
              <button type="button" class="btn-icono">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
  
          <button class="btn-agregar">
            <a routerLink="/admin/add-usuario">+ Proveedor</a>
          </button>
        </div>
      </div>
  
      <div class="div-filtros">
        <p class="filtro activo">Todos los proveedores</p>
        <p class="filtro">Proveedores activos</p>
        <p class="filtro">Proveedores inactivos</p>
      </div>
  
      <table class="tabla-proveedores">
        <thead>
          <tr>
            <th>RUC</th>
            <th>Razón Social</th>
            <th>Dirección</th>
            <th>Estado</th>
            <th>Acciones</th>w
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trabajador of (filtroBusqueda ? proveedoresFiltrados : proveedores)">
            <td>{{ trabajador.ruc_proveedor }}</td>
            <td>{{ trabajador.razon_social }}</td>
            <td>{{ trabajador.direccion }}</td>
            <td>{{ trabajador.estado === 1 ? 'Activo' : 'Inactivo' }}</td>
            <td class="acciones">
              <button class="btn-accion ver">
                <mat-icon color="accent">visibility</mat-icon>
              </button>
              <button class="btn-accion editar">
                <mat-icon class="edit" color="primary">edit</mat-icon>
              </button>
              <button class="btn-accion eliminar">
                <mat-icon class="delete" color="warn">delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
