<div class="container">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="contenido">
    <h2>Actualizar rol</h2>

    <form (ngSubmit)="actualizarRol()">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Nombre del rol</mat-label>
        <input matInput placeholder="Ej. Administrador" name="nombre" [(ngModel)]="rol.nombreRol" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Descripción</mat-label>
        <textarea matInput name="descripcion" [(ngModel)]="rol.descripcion"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Estado</mat-label>
        <mat-select name="estado" [(ngModel)]="rol.estado" required>
          <mat-option [value]="true">Activo</mat-option>
          <mat-option [value]="false">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="modulos.length > 0">
        <h2>Asignar Permisos</h2>
        <div class="modulos-grid">
          <mat-card *ngFor="let modulo of modulos; let i = index" class="modulo-card">
            <mat-card-header>
              <mat-checkbox
                [(ngModel)]="modulo.seleccionado"
                [name]="'modulo_' + i"
                (change)="onModuloChange(modulo)"
              >
                {{ modulo.nombre }}
              </mat-checkbox>
            </mat-card-header>

            <mat-card-content>
              <div class="permisos-grid">
                <mat-checkbox
                  *ngFor="let permiso of modulo.permisos; let j = index"
                  [(ngModel)]="permiso.seleccionado"
                  [name]="'permiso_' + i + '_' + j"
                  (change)="onSubmoduloChange(modulo)"
                >
                  {{ permiso.nombrePermiso }}
                </mat-checkbox>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div align="end">
        <button mat-button type="button" (click)="cancelar()">Cancelar</button>
        <button mat-button color="primary" type="submit">Guardar</button>
      </div>
    </form>
  </div>
</div>
