.boostrap-wrapper {
  display: flex;
  padding-bottom: 1px;
}

.menu {
  width: 19%;
  background-color: #016048;
  min-height: 100vh; 
}

.contenido {
  width: 81%;
  background-color: ghostwhite;
  padding: 0;
}
