<div class="container">
  <app-header></app-header>

  <div class="card">
    <div class="info-trabajadores-linea">
      <h4>Gestión de Tipos de Habitación</h4>

        <button class="btn-agregar">
          <a routerLink="/admin/recepcion/tipos/nuevo">+ Nuevo Tipo</a>
        </button>
    </div>

    <div class="filtros-container">
      <div class="buscador">
        <div class="input-wrapper">
          <input type="text" placeholder="Buscar tipos por nombre, precio, límite.." [(ngModel)]="filtroGeneral" />
          <button type="button" class="btn-icono">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="filtros-select">
        
        <button class="btn-icon secondary fa-solid fa-arrows-rotate" (click)="limpiarFiltros()"></button>

      </div>
      
    </div>

    <div *ngIf="loading" class="loading">Cargando tipos de habitación...</div>

    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>

    <div *ngIf="!loading && !error && tipos.length === 0" class="alert alert-info">
      No hay tipos de habitación registrados. Cree uno nuevo.
    </div>

    <div class="table-responsive" *ngIf="!loading && !error">
      <table class="tabla-trabajadores">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Limite Huespedes</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tipo of tipohabitacionesPaginadas; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ tipo.nombre }}</td>
            <td>{{tipo.cantidadtipo}}</td>
            <td class="precio">S/. {{ tipo.precio}}</td>
            <td class="acciones">
              <button class="btn-accion editar">
                <a [routerLink]="['/admin/recepcion/tipos/editar', tipo.id_tipo_habitacion]">
                  <i class="edit fa-regular fa-pen-to-square"></i>
                </a>
              </button>
              <button class="btn-accion eliminar" (click)="eliminarTipo(tipo.id_tipo_habitacion!)">
                <i class="delete fa-regular fa-trash-can"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="tipohabitacionesActivasFiltradas.length === 0">
            <td colspan="5" class="text-center text-muted">
              No hay habitaciones que coincidan con el filtro.
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-controls mt-4 text-center">
      <button class="btn btn-outline-secondary"
              [disabled]="currentPage === 1"
              (click)="changePage(-1)">
        ← Anterior
      </button>

      <span class="mx-3">Página {{ currentPage }} de {{ totalPages }}</span>

      <button class="btn btn-outline-secondary"
              [disabled]="currentPage === totalPages"
              (click)="changePage(1)">
        Siguiente →
      </button>
    </div>
  </div>
</div>
