<div class="container py-4 caja-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="caja-card shadow">
        <div class="caja-header">
          <a class="btn btn-warning btn-lg" [routerLink]="['/admin/caja']">
            <i class="bi bi-eye me-1"></i> Volver
          </a>
        </div>

        <div class="caja-body">
          <div *ngIf="caja" class="fade-in">
            <div class="action-container mb-4">
              <span class="caja-status status-active">
                <i class="bi bi-check-circle-fill me-1"></i>
                {{ caja.estadoCaja }}
              </span>

              <a *ngIf="!readOnly" class="btn btn-info transaction-link" [routerLink]="['/admin/transacciones']">
                <i class="bi bi-list-ul me-1"></i>
                Transacciones
              </a>
            </div>

            <div class="caja-info">
              <h3 class="d-flex align-items-center">
                <i class="bi bi-lock me-2"></i>
                Detalles de caja
              </h3>
              <div class="info-item">
                <i class="bi bi-calendar-date"></i>
                <div>
                  <strong>Fecha Apertura:</strong>
                  <div>{{ caja.fechaApertura | date:'medium' }}</div>
                </div>
              </div>

              <div class="info-item">
                <i class="bi bi-currency-pen"></i>
                <div>
                  <strong>Monto Apertura:</strong>
                  <div class="money-amount">S/.{{ caja.montoApertura.toFixed(2) }}</div>
                </div>
              </div>

              <button *ngIf="!readOnly" type="submit" class="btn btn-info" [routerLink]="['/admin/arqueo-caja']">
                Arqueo de caja
              </button>

            </div>

            <div class="form-container slide-up">
              <label for="montoCierre" class="form-label">Saldo actual</label>
              <input
                type="number"
                class="form-control"
                [value]="caja?.saldo"
                name="saldoCaja"
                step="0.01"
                min="0"
                readonly
              />

              <form *ngIf="!readOnly" (ngSubmit)="cerrarCaja()">
                <div class="d-grid gap-2 mt-4">
                  <button type="submit" class="btn btn-danger">
                    Cerrar Caja
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div *ngIf="!caja" class="text-center py-5">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Cargando...</span>
            </div>
            <p class="mt-3">Cargando información de caja...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
