<div class="container">
    <app-header></app-header>

    <div class="contenido">
        <h2>{{editar ? 'Editar Producto' : 'Registrar nuevo Producto'}}</h2>

        <form (ngSubmit)="formSubmit()">
            <div class="form">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input [(ngModel)]="producto.nombre" name="nombre" required matInput placeholder="Digite el Nombre del Producto" />
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <input [(ngModel)]="producto.descripcion" name="descripcion" required matInput
                        placeholder="Digite la descripcion del Producto " />
                </mat-form-field>

                <!-- Campo select para seleccionar el rol -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Categorias</mat-label>
                    <mat-select name="categoria" [(ngModel)]="producto.categoriaproducto.id_categoria" required>
                        <mat-option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">
                            {{ categoria.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="form-actions">
                <button mat-raised-button color="primary" class="btn-primary">
                    {{editar ? 'Editar' : 'Registrar'}}
                </button>
                <button mat-raised-button color="accent" type="reset" style="margin-left: 20px">
                    Limpiar
                </button>
            </div>
        </form>


    </div>
</div>